fastapi
jinja2
uvicorn[standard]
aiofiles
python-multipart
pymongo
authlib>=1.2.0
starlette>=0.26.1
httpx>=0.24.0
openpyxl
pandas
boto3
botocore
itsdangerous
sentence-transformers
transformers
protobuf
sentencepiece
accelerate
passlib
bcrypt
