<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect all HTTP to HTTPS -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Reverse proxy to Uvicorn on port 8888 -->
        <rule name="ReverseProxyToUvicorn" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8888/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Cho phép xử lý OPTIONS request -->
    <handlers>
      <remove name="OPTIONSVerbHandler" />
      <remove name="Python via FastCGI" />
    </handlers>
  </system.webServer>

</configuration>